<div class="emp-page">
    <app-header></app-header>
    <app-employee-table [employees]='employees' [loading]='loading' [error]='error'>
    </app-employee-table>
    <button class="add-employee-btn" (click)="openModal()">Add Employee</button>

    @if (true) {
    <div class="modal">
        <div class="modal-content">
            <h3 class="modal-header">Add New Employee</h3>
            <form (ngSubmit)="addEmployee()" class="modal-form">
                <div class="form-field">
                    <label for="name">Name:</label>
                    <input type="text" id="name" [(ngModel)]="newEmployee.name" name="name" required>
                </div>
                <div class="form-field">
                    <label for="department">Department:</label>
                    <select id="department" [(ngModel)]="newEmployee.department" name="department" required>
                        <option value="" disabled selected>Select Department</option>
                        @for (department of departments; track department) {
                            <option [value]="department">{{department}}</option>
                        }
                    </select>
                </div>
                
                <div class="form-field">
                    <label for="designation">Designation:</label>
                    <input type="text" id="designation" [(ngModel)]="newEmployee.designation" name="designation">
                </div>
                <div class="form-field">
                    <label for="salary">Salary:</label>
                    <input type="number" id="salary" [(ngModel)]="newEmployee.salary" name="salary">
                </div>
                <div class="form-field form-actions">
                    <button type="button" (click)="closeModal()" class="btn-cancel">Cancel</button>
                    <button type="submit" class="btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    }
</div>