.edit-header {
    text-align: center;
    font-size: 2rem;
}

.edit-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
}

.form-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-field label {
    font-weight: bold;
}

.edit-form input {
    width: 60%;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: #94a3b8;
    background-color: #1e293b60;
    border: 1px solid #334155;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.edit-form select {
    width: 62%;
    padding: 8px 12px;
    font-size: 1rem;
    color: #94a3b8;
    background-color: #1e293b60;
    border: 1px solid #334155;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    appearance: none;
}


.edit-form select:focus {
    border-color: #0ea5e9;
    box-shadow: 0 0 4px #0ea5e9;
}

.edit-form select option {
    background-color: #1e293bb4;
    color: #94a3b8;
}

.btn-submit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    background-color: #0ea5e9;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    cursor: pointer;
}